// BBEdit codeless language module for BBColors color setting files.// John Gruber  <http://daringfireball.net/>// Version 1.0// Wed 05 Oct 2006//{    BBEditDocumentType		= 'CodelessLanguageModule';    BBLMLanguageDisplayName = 'BBColors Scheme File';    BBLMLanguageCode 		= 'BCol';    BBLMSuffixMap 			= ({BBLMLanguageSuffix = ".bbcolors"; });    BBLMIsCaseSensitive 	= 0;    BBLMColorsSyntax 		= 1;	BBLMScansFunctions 		= 0;    BBLMKeywordList 		= ();    "Language Features" = {		"String Pattern"  = '"(\\.|[^"])*+"';		"Comment Pattern" = "^[ \t]*//.*";    };}//// Local Variables://	coding:  utf-8-mac//	tab-width: 4// End://